# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Crash log files
crash.log
crash.*.log

# Terraform variable files - may contain sensitive data
*.tfvars
*.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc

# Rendered cloud-init file
modules/ec2/rendered-cloud-init.yaml

# OS specific files
.DS_Store
Thumbs.db

# Editor specific files
.vscode/
.idea/
*.swp
*.swo 